name: release-please
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4.2.0
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json

      - uses: actions/checkout@v5
        if: ${{ (steps.release.outputs.release_created == 'true') }}

      - uses: ./.github/actions/setup-node-env
        with:
          node-version: 24
        if: ${{ (steps.release.outputs.release_created == 'true') }}

      - name: Install dependencies
        run: |
          npm -v
          npm install -g npm
          npm ci
        if: ${{ (steps.release.outputs.release_created == 'true') }}

      - name: Build and publish to NPM
        run: npm run build-publish
        if: ${{ (steps.release.outputs.release_created == 'true') }}

      - name: Zip dist directory
        run: zip -r gen-epix-ui.zip dist
        if: ${{ (steps.release.outputs.release_created == 'true') }}

      - name: Upload release artifact to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ steps.release.outputs.tag_name }} gen-epix-ui.zip
        if: ${{ (steps.release.outputs.release_created == 'true') }}
